@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Contact Info</h2>
<h3>Dustin Crossley</h3>
<h4>Headmaster</h4>
<p>cro12010@byui.edu</p>
<p>509.230.4296</p>
@*<p>
    <ul>
        <li>cro12010@byui.edu</li>
        <li>509.230.4296</li>
    </ul>
</p>*@

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>