@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Greater things await you at Contoso U. Your future awaits!
        </p>
        <img class="img-responsive" src="~/images/contoso_u_small.png" alt="picture of Contoso University grounds" />
    </div>
    
    <div class="col-md-4">
        <h2>Connections</h2>
        <p>Low student-to-faculty ratio, famous instructors, thriving nearby cities populated by world-class businesses connect Contoso students to training and the jobs of tomorrow.</p>
    </div>
    <div class="col-md-4">
        <h2>Opportunities</h2>
        <p>Contoso is proud to offer the country's best economic value in public education. The skills and practical training available at Contoso are critical to help students succeed in today's changing work environment.</p>
    </div>
    
</div>